<h1>Enter the phrase you want to anagrammify!</h1>
<form action='/list'>
    <div class="form-group">
      <label for="word">Enter a word:</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="other_words">Enter words to match anagrams:</label>
      <input id="other_words" name="other_words" class="form_control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
</form>
